@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import 'varela-font.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  color: #fff019;
  background-color: #280e44;
  margin: 0;
  line-height: 1.5rem;
  overflow-wrap: break-word;
}

.container {
  max-width: 1000px;
  padding-top: 2rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

h1 {
  margin-bottom: 3.5rem;
  font-size: 3rem;
}

.post {
  margin-top: 2rem;
  font-family: 'VarelaRound';
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('../assets/logo.png');
  background-size: cover;
}
